div#princip{
	background-color: white;
	width: auto; 
	height: 1030px;
	margin: -10px;
}

div#encabezado{
	background-color: white;
	width: auto;
	height: 200px;
	margin: -15px;
}

div#logo{
	background-color: green;
	width: 224px;
	height: 135px;
	margin: 10px 0px 0px 120px;  
}

a:link{
	color: #000000;
	text-decoration: none;
}

div#Menu{
	
	width: 70px;
	height: 30px;
	margin: -100px 0px 0px 450px;
	padding: 15px 20px 15px 20px;
}

div#Galeria{

	width: 70px;
	height: 30px;
	margin: -60px 0px 0px 650px;
	padding: 15px 20px 15px 20px;
}

div#Promociones{

	width: 140px;
	height: 30px;
	margin: -60px 0px 0px 850px;
	padding: 15px 20px 15px 20px;
}

div#Contacto{

	width: 90px;
	height: 30px;
	margin: -60px 0px 0px 1120px;
	padding: 15px 20px 15px 20px;
}

div#linea{

	width: 900;
	height: 20px;
	margin: -20px 0px 0px 400px;
}

div#cuerpo{
	background-color: #1D2942;
	width: auto;
	height: 700px;
}

div#cumple{

	width: 900;
	height: 325px;
	margin: 60px 0px 0px 250px;
}

div#text1{
	width: 400px;
	height: 325px;
	margin: -190px 0px 0px 510px;
}

div#carl{
	width: 300;
	height: 250px;
	margin: -190px 0px 0px 550px;
}

div#nombre{
	width: 600px;
	height: 300px;	
	margin-top: -5px;
	margin-left: -330px;
	left: 50%;
	top: 50%;
	position: absolute;
}

div#piepag{
	background-color: #2f3c49;
	width: auto;
	height: 180px;
	margin: 0px 0px 0px 0px;		
}


div#info{
	background-color: #2f3c49;
	width: 100px;
	height: 30px;
	margin: 40px 0px 0px 170px;
	padding: 15px;
}


div#info1{
	background-color: #2f3c49;
	width: 160px;
	height: 30px;
	margin: -60px 0px 0px 450px;
	padding: 15px;
}

div#info2{
	background-color: #2f3c49;
	width: 110px;
	height: 30px;
	margin: -60px 0px 0px 750px;
	padding: 15px;
}

div#info3{
	background-color: #2f3c49;
	width: 160px;
	height: 30px;
	margin: -60px 0px 0px 1050px;
	padding: 15px;
}